.root {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}

.img {
  display: block;
  width: auto;
  object-fit: contain;
}

.nav {
  height: 42px;
}

.center {
  height: 48px;
  margin: 0 auto;
}
